body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    position: fixed;
    background: transparent;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: start; */
    z-index: 100;
}

#logo {
    width: 90px;
    height: 90px;
}

#logo1 {
    width: 90px;
    height: 90px;
    margin-left: -4px;
    margin-top: -3px;
}

#search {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#search i {
    padding-right: 1.5rem;
    font-size: 26pt;
    color: whitesmoke;
}

#hero-caption {
    margin-bottom: 20%;
    text-align: left;
}

#nav-modal, .modal-dialog, .modal-content {
    background-color: black !important;
    color: white;
}

#judul1{
    text-align: center;
    padding-top: 22px;
    color: aliceblue;
    text-shadow: 2px 2px 5px gray;
}

#judul2{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px gray;
}

#kole1{
    width: 600px;
    height: 400px;
    margin-left: 283px;
    padding-top: 10px;
}

#starry{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    color: antiquewhite;
    margin-bottom: 30px;
}